/*!
 * Load Awesome Relative v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Copyright 2018 Sampson Crowley <@SampsonCrowley>
 * Licensed under MIT
 */
@import './mixins/add-view'

$color-1 = #fff
$color-2 = #333

.la-line-scale-party
.la-line-scale-party > div
  position relative
  box-sizing border-box

.la-line-scale-party
  display block
  font-size 0
  color $color-1
  width 40px
  height 32px

  &.la-dark
    color $color-2

  >div
    display inline-block
    float none
    background-color currentColor
    border 0 solid currentColor
    width 4px
    height 32px
    margin 2px
    margin-top 0
    margin-bottom 0
    border-radius 0
    animation-name line-scale-party
    animation-iteration-count infinite

    &:nth-child(1)
      animation-duration .43s
      animation-delay -.23s

    &:nth-child(2)
      animation-duration .62s
      animation-delay -.32s

    &:nth-child(3)
      animation-duration .43s
      animation-delay -.44s

    &:nth-child(4)
      animation-duration .8s
      animation-delay -.31s

    &:nth-child(5)
      animation-duration .74s
      animation-delay -.24s

  &.la-sm
    width 20px
    height 16px

    >div
      width 2px
      height 16px
      margin 1px
      margin-top 0
      margin-bottom 0

  &.la-2x
    width 80px
    height 64px

    >div
      width 8px
      height 64px
      margin 4px
      margin-top 0
      margin-bottom 0

  &.la-3x
    width 120px
    height 96px

    >div
      width 12px
      height 96px
      margin 6px
      margin-top 0
      margin-bottom 0

/*
 * Animation
 */

@keyframes line-scale-party
  0%
    transform scaleY(1)

  50%
    transform scaleY(.3)

  100%
    transform scaleY(1)
