/*!
 * Load Awesome Relative v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Copyright 2018 Sampson Crowley <@SampsonCrowley>
 * Licensed under MIT
 */
@import './mixins/add-view'

$color-1 = #fff
$color-2 = #333

.la-pacman
.la-pacman > div
  position relative
  box-sizing border-box

.la-pacman
  display block
  font-size 0
  color $color-1
  width 32px
  height 32px

  &.la-dark
    color $color-2

  >div
    display inline-block
    float none
    background-color currentColor
    border 0 solid currentColor

    &:nth-child(2)
      margin-top -32px
      animation-name pacman-rotate-half-down

    &:nth-child(3)
      animation-delay -1.44s

    &:nth-child(4)
      animation-delay -1.94s

    &:nth-child(5)
      animation-delay -2.44s

    &:nth-child(6)
      animation-delay -2.94s

  &.la-sm
    width 16px
    height 16px

    >div
      &:nth-child(2)
        margin-top -16px

  &.la-2x
    width 64px
    height 64px

    >div
      &:nth-child(2)
        margin-top -64px

  &.la-3x
    width 96px
    height 96px

    >div
      &:nth-child(2)
        margin-top -96px

.la-pacman > div:nth-child(1)
.la-pacman > div:nth-child(2)
  width 0
  height 0
  background transparent
  border-style solid
  border-width 16px
  border-right-color transparent
  border-radius 100%
  animation pacman-rotate-half-up .5s 0s infinite

.la-pacman > div:nth-child(3)
.la-pacman > div:nth-child(4)
.la-pacman > div:nth-child(5)
.la-pacman > div:nth-child(6)
  position absolute
  top 50%
  left 200%
  width 8px
  height 8px
  border-radius 100%
  opacity 0
  animation pacman-balls 2s 0s infinite linear

.la-pacman.la-sm > div:nth-child(1)
.la-pacman.la-sm > div:nth-child(2)
  border-width 8px

.la-pacman.la-sm > div:nth-child(3)
.la-pacman.la-sm > div:nth-child(4)
.la-pacman.la-sm > div:nth-child(5)
.la-pacman.la-sm > div:nth-child(6)
  width 4px
  height 4px

.la-pacman.la-2x > div:nth-child(1)
.la-pacman.la-2x > div:nth-child(2)
  border-width 32px

.la-pacman.la-2x > div:nth-child(3)
.la-pacman.la-2x > div:nth-child(4)
.la-pacman.la-2x > div:nth-child(5)
.la-pacman.la-2x > div:nth-child(6)
  width 16px
  height 16px

.la-pacman.la-3x > div:nth-child(1)
.la-pacman.la-3x > div:nth-child(2)
  border-width 48px

.la-pacman.la-3x > div:nth-child(3)
.la-pacman.la-3x > div:nth-child(4)
.la-pacman.la-3x > div:nth-child(5)
.la-pacman.la-3x > div:nth-child(6)
  width 24px
  height 24px

/*
 * Animations
 */

@keyframes pacman-rotate-half-up
  0%
    transform rotate(270deg)

  50%
    transform rotate(360deg)

@keyframes pacman-rotate-half-down
  0%
    transform rotate(90deg)

  50%
    transform rotate(0deg)

@keyframes pacman-balls
  0%
    left 200%
    opacity 0
    transform translateY(-50%)

  5%
    opacity .5

  66%
    opacity 1

  67%
    opacity 0

  100%
    left 0
    transform translateY(-50%)
